body{
    background-color: rgb(197, 181, 255);
}

.name_of_objects{
    color: rgb(253, 255, 113);
}

label{
    color: white;
}

p{
    color: white;
}

#color{
    color: navy;
    
}

#camera{
    border-style: dashed;
}